@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<label class="control-label">ID: @TempData["Usuario"]</label>


<a asp-controller="Personas" asp-action="Edit" asp-route-id="@TempData["Usuario"]">Editar Perfil</a>